rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Jadwal/{document=**} {
      // Allow users to read, create, update, and delete their own schedules
      allow read, create, update, delete: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
