rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for 'schedule' collection
    match /schedule/{scheduleId} {
      // Users can create a schedule if their user ID matches the one in the new data
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;

      // Users can read, update, or delete their own schedules
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Rules for 'ToDo_Item' collection
    match /ToDo_Item/{itemId} {
        // Users can create a todo item if their user ID matches
        allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;

        // Users can read, update, and delete their own todo items
        allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
